<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Sesuaikan RewriteBase jika project ada di subfolder
    # Jika url anda center.id-giti.com/center/public/
    RewriteBase /center/public/

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>